.domain {
  display: none;
}

.tick text {
  font-size: 12px;
  font-family: "Open Sans";
}

.tick line {
  stroke: #c0c0c0;
  stroke-opacity: 0.5;
}

.label {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
}